*
!.gitignore
!*.html
!**/*.cpp
moc_*
qrc_*
!**/*.h
**/ui_*
!**/*.pro
!**/*.png
!**/*.ico
!**/*.qrc
!**/*.ts
!**/*.txt
!**/*.ui
!**/*.png
!**/*.desktop
!**/PKGBUILD
!**/INSTALL.txt
!json
!windows/conf
!windows/conf/*
!windows/*.txt
!windows/*.nsi
!version.sh
!ardoise.json

