[Desktop Entry]
Type=Application
Categories=Qt;Graphics;2DGraphics;RasterGraphics;
GenericName=drawing surface
GenericName[fr]=Surface dessinable
Exec=ardoise
Comment=Unlimited drawing surface for quick diagrams
Comment[fr]=Surface dessinable illimitée
Icon=ardoise
Name=Ardoise
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
X-KDE-SubstituteUID=false
X-KDE-Username=
